<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <div class="article-item">
        {% include 'modulars/features.html.twig' with {'features': post.taxonomy.featured} %}
        <header class="post-header">
            {% if post.header.link %}
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.header.link }}">{{ post.title }}</a></h2>
            {% else %}
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            {% endif %}
        </header>
        <div class="post-meta">
            <time datetime="{{ post.date | date(site.date_long) }}">{{ post.date | date(site.date_long) }}</time>
            • {{ post.content|readingtime }} read
        </div>
        <section class="post-excerpt" itemprop="description">
            <p>{{ post.content | striptags | truncate(200) }}</p>
        </section>
        {% include 'modulars/tags.html.twig' with {'tags': post.taxonomy.tag} %}
    </div>
</article>
