<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <div class="post-item">
        {% include 'modulars/features.html.twig' with {'features': post.taxonomy.featured} %}
        <div class="post-data">
            <div class="post-left">
                <header class="post-header">
                    {% if post.header.link %}
                      <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.header.link }}">{{ post.title }}</a></h2>
                    {% else %}
                      <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
                    {% endif %}
                </header>
                <section class="post-description" itemprop="description">
                    <p>{{ post.content | striptags | truncate(200) }}</p>
                </section>
            </div>
            {% if post.header.image %}
            <div class="post-right">
                <a href="{{ post.media[post.header.image].url }}" style="background-image: url('{{ post.media[post.header.image].url }}')"></a>
            </div>
            {% endif %}
        </div>
        <div class="post-meta">
            <time datetime="{{ post.date | date(site.date_long) }}">{{ post.date | date(site.date_long) }}</time>
            • {{ post.content|readingtime }} read
        </div>
        {% include 'modulars/tags.html.twig' with {'tags': post.taxonomy.tag} %}
    </div>
</article>
