<div class="post-meta">
    {% include 'modulars/features.html.twig' with {'features': page.taxonomy.featured} %}
    {% if page.header.link %}
      <h1 class="post-title"><i class="fa fa-angle-double-right"></i> <a href="{{ page.header.link }}">{{ page.title }}</a></h1>
    {% else %}
      <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}
    {% if page.template == 'post' %}
    <div class="cf post-meta-text">
        <div class="author-image" style="background-image: url({{ site.author.image }})">Blog Logo</div>
        <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author.name }}</h4>
        on
        <time datetime="{{ page.date | date(site.date_short) }}">{{ page.date | date(site.date_short) }}</time>
        {% if page.taxonomy.tag|length > 0 %}
        {% include 'modulars/tags.html.twig' with {'tags': page.taxonomy.tag} %}
        {% endif %}
    </div>
    <div style="text-align:center">
        <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
    </div>
    {% endif %}
</div>
