<a class="icon-link" href="{{ page.url }}" onClick="shareLink('{{ page.url }}'); return false;">
  <i class="fa fa-link"></i><span class="hidden"></span>
</a>
{% for social in socials %}
  {% if social.url %}
    &nbsp;&nbsp;·&nbsp;&nbsp;
    <a href="{{ social.url }}">
      {% if social.text %}
        {{ social.text|t }}
      {% else %}
        <i class="fa fa-{{ social.icon }}"></i>
      {% endif %}
    </a>
  {% endif %}
{% endfor %}
