{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
    <div class="page-content">
      <div class="wrapper">
        <div class="teaserimage">
            <div class="teaserimage-image" style="background-image: url({{ page.media[page.header.cover].url }})">
                Teaser Image
            </div>
        </div>
      </div>
    </div>

    <header class="blog-header">
        {% if site.logo %}
          <a class="blog-logo" href="{{ base_url_relative }}" style="background-image: url({{ site.logo }})">{{ site.title }}</a>
        {% endif %}
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <div class="custom-links">
          {% include 'modulars/socials.html.twig' with {'socials': site.social} %}
        </div>
        {% include 'modulars/features.html.twig' with {'features': site.features} %}
    </header>

    <main class="content" role="main">
        {% set pinnedFeatures = collection.params.taxonomies.featured %}
        {% set pinnedTags = (collection.params.taxonomies.tag ?? {})|merge(['pinned']) %}
        {% set pinned = taxonomy.findTaxonomy({'tag': pinnedTags, 'featured': pinnedFeatures}) %}
        {% if pinned and pinned|length > 0 and uri.currentPage == 1 %}
        <h5 class="index-headline pinned"><a href="{{ base_url }}/tag{{ config.system.param_sep }}pinned">Pinned</a></h5>

        <div class="container pinned">
            {% for post in pinned %}
                {% include 'partials/article.html.twig' %}
            {% endfor %}
        </div>

        <h5 class="index-headline normal"><span>Latest</span></h5>
        {% endif %}

        <div class="cf frame">
            {% for post in collection %}
                {% if not ('pinned' in post.taxonomy.tag) %}
                    {% include 'partials/article.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>


        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination':collection.params.pagination} %}
        {% endif %}
    </main>
{% endblock %}
